<h1>Legislator Lookup</h1>

<form>
    <div class="form-group">
      <label for="zip">Zip code</label>
      {{input value=zip id="zip"}}
    </div>
    <button class="btn btn-default" {{action 'zipLookup'}}></button>
</form>
