<div class="container">
  <div class="col-sm-3">
    {{house-list-committees model=model showSubcommittees="showSubcommittees"}}
    {{outlet}}
  </div>
  <div class="col-sm-8">
    {{lookup-form zipLookup="zipLookup"}}
  </div>
</div>
